CompileFlags:
  # Compilateur utilisé
  Compiler: /opt/homebrew/opt/llvm/bin/clang
  Add:
    - "-xc"                                   # Traite tous les fichiers comme écrit en C
    - "-I/Users/gbo/work/42sh/2024/includes"  # Headers
    - "-I/Users/gbo/work/libft/includes"
    - "-Wall"                                 # Options de compilation
    - "-Werror"
    - "-Wextra"
    - "-Wpedantic"
    - "-Wshadow"
    - "-Wundef"
    - "-Wconversion"
    - "-Wunreachable-code"
    - "-O2"
Index:
  # Indexation des symboles des fichiers
  Background: Build # Skip
  # Indexation des librairies standart (pour notamment complétion de code)
  StandardLibrary: Yes # No
Diagnostics:
  # Vérifications des includes manquants
  MissingIncludes: Strict
  # Vérifications des includes non utilisés
  UnusedIncludes: Strict
  ClangTidy:
    Add: "*"
    Remove:
      - "bugprone-easily-swappable-parameters"
      - "llvmlibc-restrict-system-libc-headers"
      - "cppcoreguidelines*"
      - "*braces-around-statements"
      - "readability-magic-numbers"
      - "altera-unroll-loops"
    # Les vérifications qui peuvent ralentir clangd:
    #   Strict (vérifications rapides uniquement)
    #   Loose (vérifications rapides + celles non reconnues comme étant très lentes)
    #   None (toutes les vérifications)
    FastCheckFilter: Loose
Hover:
  ShowAKA: true
# Documentation:
#   CommentFormat: Doxygen # PlainText, Markdown, Doxygen
